.appWindow .titlebar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 7.4rem;

  background-color: black;
  background-image: linear-gradient(rgba(0,0,0,0.1),
                    rgba(0,0,0,0.1));
  background-size: 100% 100%, 100% 100%;
  background-repeat: repeat, repeat;
  background-position: bottom right, center center, center center;
  transition: background-color 0.5s ease, transform 0.2s ease-in;

  transform: translateY(-5rem);
}

.appWindow:not(.homescreen) .titlebar.expand {
  transform: translateY(0);
}

#screen.utility-tray .appWindow .titlebar {
  visibility: hidden;
}

.titlebar .bubble {
  position: absolute;
  top: 5.28rem;
  left: 0.5rem;
  width: calc(40% - 1.8rem);
  height: 1.8rem;

  background: rgba(51, 51, 51, 0.5);
  border-radius: 1.7rem;

  transform-origin: center left;
  transition: transform 0.2s ease-in, opacity 0.1s linear 0.1s;
}

.titlebar.expand .bubble {
  transform: scale(2.64, 1.89) translateY(-1rem);
  opacity: 0.7;
}

.titlebar span {
  position: absolute;
  top: 5.28rem;
  left: 1rem;
  width: calc(40% - 2.8rem);
  height: 1.8rem;
  overflow: hidden;

  font-size: 1rem;
  line-height: 1.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  transform-origin: center left;
  transition: transform 0.2s ease-in, opacity 0.15s ease-in;

  pointer-events: none;
}

.titlebar.expand span {
  transform: scale(1.89, 1.89) translateY(-1rem);
}

.appWindow:not(.navigation) .titlebar.expand span {
  opacity: 0;
}

.lockScreenWindow .titlebar .bubble,
.lockScreenWindow .titlebar span,
.homescreen .titlebar .bubble,
.homescreen .titlebar span {
  visibility: hidden;
}

/* Lockscreen Window */
.appWindow.lockScreenWindow .titlebar {
  background-color: transparent;
  z-index: 1;
}

#screen.attention .appWindow.lockScreenWindow .titlebar {
  background-color: black;
}
